
body{
    background-color:slateblue;
    color: white;
}

.form{
    margin-top: 30px;
}

.form__div{
    text-align: center;   
}

.form__input{
    padding: 15px;
    border-radius: 50px;
    border: none;
}

.form__button{
    padding: 10px;
    border-radius: 50%;
    border: none;
}
.form__list{
    list-style: none;
}